{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}
{% load admin_modify_extend %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
 
<script type="text/javascript" src={% static "admin/js/jquery.js" %}></script>
<script type="text/javascript" src={% static "admin/js/jquery-ui.js" %}></script>

<script type="text/javascript" src={% static "admin/js/myprj/myprj-custom.js" %}></script>

{% include "js_handle/custom_page.html" %}
{% include "js_handle/select_m2m.html" %}

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
//        $("#tabs").tabs();
    });
})(django.jQuery);
</script>


{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/fieldset_extend.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/style.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

 
{% if not is_popup %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; 
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; 
        {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        {% else %}{{ opts.verbose_name_plural|capfirst }}
        {% endif %}
        &rsaquo; 
        {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}
        {% else %}{{ original|truncatewords:"18" }}
        {% endif %}
    </div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
        {% if change %}
            {% if not is_popup %}
              <ul class="object-tools">
                {% block object-tools-items %}
                    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
                {% endblock %}
              </ul>
            {% endif %}
        {% endif %}
    {% endblock %}
    <form 
        {% if has_file_field %}enctype="multipart/form-data" {% endif %}
        action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
        {% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            {% if save_on_top %}
                {% block submit_buttons_top %}{% submit_row %}{% endblock %}
            {% endif %}
            {% if errors %}
                <p class="errornote">
                {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}

            <!--set your control admin form here -->
            {% block field_sets %}   
                {% for fieldset in adminform %}
                    {% include "includes/fieldset.html" %}
                {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% if opts.module_name == 'rail_bidding' or opts.module_name == 'rail_oem_project' or opts.module_name == 'rail_vehicle_project' %}
                <div id="tabs">
                    <ul>            
                        {% ifequal opts.module_name 'rail_bidding' %}
                            <li><a href="#product_lists_set-group">product lists</a></li>
                            <li><a href="#rail_competitor_bidding_set-group">rail competitor biddings</a></li>
                            <li><a href="#rail_tracking_set-group">rail trackings</a></li>
                        {% endifequal %}
                        
                        {% ifequal opts.module_name 'rail_oem_project' %}
                            <li><a href="#rail_project_in_charge_set-group">rail project in charges</a></li>
                            <li><a href="#rail_bidding_set-group">rail biddings</a></li>
                            <!--<li><a href="#rail_competitor_bidding_set-group">rail competitor biddings</a></li>                   
                            <li><a href="#rail_tracking_set-group">rail trackings</a></li>
                            <li><a href="#rail_customer_bidding_set-group">rail customer biddings</a></li>-->
                        {% endifequal %}
                        
                        {% ifequal opts.module_name 'rail_vehicle_project' %}           
                            <li><a href="#rail_vehicle_info_set-group">rail vehicle infomation</a></li>
                            <li><a href="#rail_oem_project_set-group">rail oem projects</a></li> 
                        {% endifequal %}
                        
                    </ul>

                    <div id="tabs-inline">
                        {% include "admin/myprj/inline_form.html" %}
                    </div>
                    
                </div>
            {% else %}
                {% include "admin/myprj/inline_form.html" %}
            {% endif %}

            {% block submit_buttons_bottom %}{% submit_row_extend %}{% endblock %} <!---template tag here -->
            
            {% if adminform.first_field and add %}
               <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
            {% endif %}

            
            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}
