/* hebin DASHBOARD */

a.section:link, a.section:visited {
    color: write;
    text-decoration: none;
}


.dashboard .module caption  {
    //padding: 0px;
    //width: 100%;
    right:0px;
    //display:inline-block;
    //padding-right: .6em;
}

.dashboard .module table th {
    width: 100%;
}

#mbutton{
    float: left;
}


.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

ul.actionlist li.changelink {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}